*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0px;

	width: 100dvw;
	height: 100dvh;
	background-color: #FF4656;

}

html{
	background-color: #FF4656;

}

#root{
	height: 100dvh;
	background-color: #FF4656;

}

.modalContainer{
	display: flex;
	flex-direction: column;
	margin: 2rem;
	gap: 1rem;
}


.pjCard{
	cursor: pointer;

}

.pjCard:not(.flipped):hover{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	box-shadow: white 2px 2px 10px;
	transition: transform ease-in-out 200ms;
	-webkit-transition: transform ease-in-out 200ms;
	-moz-transition: transform ease-in-out 200ms;
	-ms-transition: transform ease-in-out 200ms;
	-o-transition: transform ease-in-out 200ms;
}

.ReactModalPortal > div{
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .2s ease-in-out;
	z-index: 999;
}

.modal-fondo {
	background-color: rgba(0, 0, 0, 0.514);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background: white;
	border-radius: 5px;
	color: rgb(44, 43, 43);
	display: inline;
	max-height: 620px;
	max-width: 500px;
	outline: none;
	padding: 10px;
	
}

.record{
	color: rgb(64, 221, 64);
}



/******************************************/

.pjCard {
  position: relative;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.pjCard.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
	background-color: transparent;

}

.card-back {
  transform: rotateY(180deg);
  /* Estilos adicionales para la parte de atrás de la tarjeta */
}

.pjCard.flipped {
	user-select: none;
	cursor: default;

}