*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0px;

	width: 100dvw;
	height: 100dvh;
	background-color: #FF4656;

}

html{
	background-color: #FF4656;

}

#root{
	height: 100dvh;
	background-color: #FF4656;

}

.modalContainer{
	display: flex;
	flex-direction: column;
	margin: 2rem;
	gap: 1rem;
}


.pjCard{
	cursor: pointer;
	transition-duration: 300ms;
}

.pjCard:hover{
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	box-shadow: blue 2px 2px 10px;
}


.ReactModalPortal > div{
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .2s ease-in-out;
	z-index: 999;
}

.modal-fondo {
	background-color: rgba(0, 0, 0, 0.514);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background: white;
	border-radius: 5px;
	color: rgb(44, 43, 43);
	display: inline;
	max-height: 620px;
	max-width: 500px;
	outline: none;
	padding: 10px;
	
}

.record{
	color: rgb(64, 221, 64);
}